---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Casmaq">
  <main>
    <Header />
    <SectionContainer class="pt-10 font-sans">
      <div class="flex flex-col md:flex-row mx-4">
        <div class="md:w-3/3">
          <h1 class="font-bold text-4xl">NORMA NIMF15</h1>

          <p class="mt-8 text-pretty text-2xl">
            Somos especialistas en la fabricacion, venta y distribucion de
            pallets. Nuestros productos son de alta calidad y durabilidad.
          </p>

          <p class="mt-8 text-pretty">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo
            voluptatum excepturi, velit harum architecto pariatur cupiditate non
            fuga quasi iusto distinctio magnam esse recusandae, rerum repellat
            est maxime delectus qui, ab sed! Aliquam laborum iusto eligendi
            nobis aut repellendus obcaecati error at eum! Culpa perspiciatis
            inventore, id incidunt consectetur aliquam ea atque pariatur
            nesciunt!
          </p>
        </div>
      </div>
    </SectionContainer>

    <Footer />
  </main>
</Layout>
