---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Casmaq">
  <main>
    <Header />
    <SectionContainer class="pt-10 font-sans">
      <div class="flex flex-col md:flex-row mx-4">
        <div class="md:w-3/3">
          <h1 class="font-bold text-4xl">PRODUCTOS</h1>
          <h2 class="font-bold text-4xl mt-6">Pallets</h2>

          <p class="mt-8 text-pretty text-xl">
            Los pallets son una herramienta fundamental en la logística de
            cualquier empresa. En Casmaq, contamos con una amplia variedad de
            pallets de madera para satisfacer las necesidades de nuestros
            clientes.
          </p>
        </div>
      </div>
    </SectionContainer>
    <SectionContainer class="pt-10 font-sans">
      <div class="flex flex-col md:flex-row mx-4 gap-4 rounded-md">
        <div class="md:w-1/3"></div>
        <div>
          <h1 class="text-xl md:text-2xl font-bold pb-2 md:pb-4">
            Pallet Tipo Estándar
          </h1>
          <img class="rounded-md shadow-xl" src="/img/wallpaper.jpg" alt="" />
          <p class="text-sm md:text-base mt-2 md:mt-4 mb-2 md:mb-4">
            Pallet 1000 x 1200 cm.
          </p>
          <a
            href="#"
            class="inline-block rounded bg-[#0F3D3E] 0F3D3E px-4 py-3 text-sm font-medium text-white transition hover:bg-[#181D31]"
          >
            Cotiza aquí
          </a>
        </div>
        <div>
          <h1 class="text-xl md:text-2xl font-bold pb-2 md:pb-4">
            Pallet Tipo Euro
          </h1>
          <img class="rounded-md shadow-xl" src="/img/wallpaper.jpg" alt="" />
          <p class="text-sm md:text-base mt-2 md:mt-4 mb-2 md:mb-4">
            Pallet 800 x 1200 cm.
          </p>
          <a
            href="#"
            class="inline-block rounded bg-[#0F3D3E] 0F3D3E px-4 py-3 text-sm font-medium text-white transition hover:bg-[#181D31]"
          >
            Cotiza aquí
          </a>
        </div>
        <div>
          <h1 class="text-xl md:text-2xl font-bold pb-2 md:pb-4">
            Pallet Tipo Yugo
          </h1>
          <img class="rounded-md shadow-xl" src="/img/wallpaper.jpg" alt="" />
          <p class="text-sm md:text-base mt-2 md:mt-4 mb-2 md:mb-4">
            Pallet 1000 x 1200 cm.
          </p>
          <a
            href="#"
            class="inline-block rounded bg-[#0F3D3E] 0F3D3E px-4 py-3 text-sm font-medium text-white transition hover:bg-[#181D31]"
          >
            Cotiza aquí
          </a>
        </div>
      </div>
    </SectionContainer>

    <Footer />
  </main>
</Layout>
