---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Footer from "../components/Footer.astro";
import Products from "../components/Products.astro";

// Datos de los productos
import { PRODUCTS } from "../data/products.ts";

// Filtrar productos por categoría
const pallets = PRODUCTS.filter((product) => product.category === "Pallet");
const bolsas = PRODUCTS.filter((product) => product.category === "Bolsa");
const parrillas = PRODUCTS.filter((product) => product.category === "Parrilla");
---

<Layout title="Casmaq">
  <main>
    <Header />

    <!-- Sección para los Pallets -->
    <SectionContainer class="pt-10 font-sans">
      <div class="flex flex-col md:flex-row mx-4">
        <div class="md:w-3/3">
          <h1 class="font-bold text-4xl">Productos</h1>
          <h2 class="font-bold text-3xl mt-6">Pallets</h2>
          <p class="mt-8 text-pretty text-lg">
            Los pallets son una herramienta fundamental en la logística de
            cualquier empresa. En Casmaq, contamos con una amplia variedad de
            pallets de madera para satisfacer las necesidades de nuestros
            clientes.
          </p>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer class="pt-10 font-sans">
      <Products products={pallets} />
    </SectionContainer>

    <!-- Sección para las Bolsas -->
    <SectionContainer class="pt-10 font-sans">
      <div class="flex flex-col md:flex-row mx-4">
        <div class="md:w-3/3">
          <h2 class="font-bold text-3xl mt-6">Bolsas</h2>
          <p class="mt-8 text-pretty text-lg">
            Las bolsas son ideales para la exportación de frutas y verduras.
            Disponibles en 2,5 kg y 5 kg, estas bolsas transparentes de
            poliolefina prolongan la vida útil de los productos y cuentan con
            certificaciones de calidad NSF e IQC.
          </p>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer class="pt-10 font-sans">
      <Products products={bolsas} />
    </SectionContainer>

    <!-- Sección para las Bolsas -->
    <SectionContainer class="pt-10 font-sans">
      <div class="flex flex-col md:flex-row mx-4">
        <div class="md:w-3/3">
          <h2 class="font-bold text-3xl mt-6">Parrillas</h2>
          <p class="mt-8 text-pretty text-lg">
            Estas son armadas en 2 formatos y medidas, en madera listón y
            terciado. Son usadas principalmente para afirmar la carga, y además
            para protegerla durante el transporte.
            <br />
            <p class="mt-8 text-pretty text-xl">Medidas Standard</p>
            <li>Parrillas : 800 x 1200 mm 1000 x 1200 mm</li>
          </p>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer class="pt-10 font-sans">
      <Products products={parrillas} />
    </SectionContainer>

    <Footer />
  </main>
</Layout>
