---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Footer from "../components/Footer.astro";
import CardAbout from "../components/CardAbout.astro";
---

<Layout title="Casmaq">
  <main>
    <Header />
    <SectionContainer class="pt-10 font-sans">
      <div class="flex flex-col md:flex-row mx-4">
        <div class="md:w-3/3">
          <h1 class="font-bold text-4xl">QUIENES SOMOS</h1>

          <p class="mt-8 text-pretty text-xl">
            Somos una empresa que ofrece servicios integrales y de calidad para
            optimizar la exportación de frutas y otros productos, brindando
            rapidez, eficiencia y productos de alta calidad como pallets, mantas
            térmicas, maquinaria y cajas resistentes para satisfacer las
            necesidades de los clientes y contribuir a su éxito en las
            operaciones.
          </p>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer class="pt-10 font-sans">
      <div class="flex flex-col md:flex-row mx-4 my-4 gap-4 rounded-md">
        <div class="md:w-3/3"></div>
        <CardAbout />
      </div>
    </SectionContainer>
    <Footer />
  </main>
</Layout>
