---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Casmaq">
  <main>
    <Header />
    <!-- <SectionContainer class="pt-10 font-sans">
      <div class="flex flex-col md:flex-row mx-4">
        <div class="md:w-3/3">
          <h1 class="font-bold text-4xl">quienes somos</h1>

          <p class="mt-8 text-pretty text-2xl">
            Somos especialistas en la fabricacion, venta y distribucion de
            pallets. Nuestros productos son de alta calidad y durabilidad.
          </p>

          <p class="mt-8 text-pretty">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo
            voluptatum excepturi, velit harum architecto pariatur cupiditate non
            fuga quasi iusto distinctio magnam esse recusandae, rerum repellat
            est maxime delectus qui, ab sed! Aliquam laborum iusto eligendi
            nobis aut repellendus obcaecati error at eum! Culpa perspiciatis
            inventore, id incidunt consectetur aliquam ea atque pariatur
            nesciunt!
          </p>
        </div>
      </div>
    </SectionContainer> -->

    <SectionContainer class="pt-16 font-sans">
      <div class="flex flex-col md:flex-row mx-4">
        <div class="md:w-3/3">
          <h1 class="font-bold text-4xl">QUIÉNES SOMOS</h1>

          <p class="mt-8 text-pretty text-xl">
            Somos una empresa que ofrece servicios integrales y de calidad para
            optimizar la exportación de frutas y otros productos, brindando
            rapidez, eficiencia y productos de alta calidad como pallets, mantas
            térmicas, maquinaria y cajas resistentes para satisfacer las
            necesidades de los clientes y contribuir a su éxito en las
            operaciones.
          </p>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer>
      <section class="bg-[#219C90] text-white">
        <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-6 lg:py-6">
          <div
            class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3"
          >
            <div
              class="flex items-start gap-4 bg-[#116D6E] shadow-md rounded-md p-2 hover:scale-105 transition-transform duration-300 ease-in-out"
            >
              <span class="shrink-0 rounded-lg bg-[#183D3D] p-4">
                <!--?xml version="1.0" encoding="UTF-8"?-->
                <svg
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  color="#ffffff"
                  stroke-width="1.5"
                  ><path
                    d="M3 13C6.6 5 17.4 5 21 13"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path><path
                    d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z"
                    fill="#ffffff"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
              </span>

              <div>
                <h2 class="text-lg font-bold">Visión</h2>

                <p class="mt-1 text-sm text-gray-300">
                  Nos visualizamos como el socio estratégico preferido en el
                  área de la exportación de frutas, reconocidos por nuestra
                  excelencia en servicio al cliente e innovación tecnológica.
                  Buscamos expandir nuestra presencia a nivel nacional,
                  estableciendo relaciones sólidas y duraderas con nuestros
                  clientes y colaboradores.
                </p>
              </div>
            </div>

            <div
              class="flex items-start gap-4 bg-[#116D6E] shadow-md rounded-md p-2 hover:scale-105 transition-transform duration-300 ease-in-out"
            >
              <span class="shrink-0 rounded-lg bg-[#183D3D] p-4">
                <!--?xml version="1.0" encoding="UTF-8"?-->
                <!--?xml version="1.0" encoding="UTF-8"?-->
                <svg
                  width="24px"
                  height="24px"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  color="#ffffff"
                  ><path
                    d="M15 21H9V12.6C9 12.2686 9.26863 12 9.6 12H14.4C14.7314 12 15 12.2686 15 12.6V21Z"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path><path
                    d="M20.4 21H15V18.1C15 17.7686 15.2686 17.5 15.6 17.5H20.4C20.7314 17.5 21 17.7686 21 18.1V20.4C21 20.7314 20.7314 21 20.4 21Z"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path><path
                    d="M9 21V16.1C9 15.7686 8.73137 15.5 8.4 15.5H3.6C3.26863 15.5 3 15.7686 3 16.1V20.4C3 20.7314 3.26863 21 3.6 21H9Z"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path><path
                    d="M10.8056 5.11325L11.7147 3.1856C11.8314 2.93813 12.1686 2.93813 12.2853 3.1856L13.1944 5.11325L15.2275 5.42427C15.4884 5.46418 15.5923 5.79977 15.4035 5.99229L13.9326 7.4917L14.2797 9.60999C14.3243 9.88202 14.0515 10.0895 13.8181 9.96099L12 8.96031L10.1819 9.96099C9.94851 10.0895 9.67568 9.88202 9.72026 9.60999L10.0674 7.4917L8.59651 5.99229C8.40766 5.79977 8.51163 5.46418 8.77248 5.42427L10.8056 5.11325Z"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
              </span>

              <div>
                <h2 class="text-lg font-bold">Misión</h2>

                <p class="mt-1 text-sm text-gray-300">
                  Nuestra misión es liderar la industria frutícola con
                  soluciones integrales de calidad para la exportación. Nos
                  enfocamos en la rapidez y eficiencia en la entrega de
                  servicios, ofreciendo maquinaria moderna, palets duraderos,
                  adhesivos confiables y cajas de alta resistencia. Nuestro
                  objetivo es satisfacer las necesidades de nuestros clientes y
                  contribuir al éxito de sus operaciones.
                </p>
              </div>
            </div>

            <div
              class="flex items-start gap-4 bg-[#116D6E] shadow-md rounded-md p-2 hover:scale-105 transition-transform duration-300 ease-in-out"
            >
              <span class="shrink-0 rounded-lg bg-[#183D3D] p-4">
                <!--?xml version="1.0" encoding="UTF-8"?-->
                <svg
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  color="#ffffff"
                  stroke-width="1.5"
                  ><path
                    d="M3 13C6.6 5 17.4 5 21 13"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path><path
                    d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z"
                    fill="#ffffff"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
              </span>

              <div>
                <h2 class="text-lg font-bold">Visión</h2>

                <p class="mt-1 text-sm text-gray-300">
                  Nos visualizamos como el socio estratégico preferido en el
                  área de la exportación de frutas, reconocidos por nuestra
                  excelencia en servicio al cliente e innovación tecnológica.
                  Buscamos expandir nuestra presencia a nivel nacional,
                  estableciendo relaciones sólidas y duraderas con nuestros
                  clientes y colaboradores.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </SectionContainer>
  </main>

  <Footer />
</Layout>
