---
import Eyes from "./icons/Eyes.astro";
import Stars from "./icons/Stars.astro";

const CARDS = [
  {
    name: "Vision",
    icon: Eyes,
    description:
      "Nos visualizamos como el socio estratégico preferido en el área de la exportación de frutas, reconocidos por nuestra excelencia en servicio al cliente e innovación tecnológica. Buscamos expandir nuestra presencia a nivel nacional, estableciendo relaciones sólidas y duraderas con nuestros clientes y colaboradores.",
  },
  {
    name: "Mision",
    icon: Stars,
    description:
      "Nuestra misión es liderar la industria frutícola con soluciones de calidad para la exportación. Nos enfocamos en la rapidez y eficiencia en la entrega de servicios, ofreciendo palets duraderos, adhesivos confiables y cajas de alta resistencia. El objetivo con nuestros clientes es contribuir al éxito de sus operaciones.",
  },
  {
    name: "??????",
    icon: Stars,
    description:
      "Nuestra misión es liderar la industria frutícola con soluciones de calidad para la exportación. Nos enfocamos en la rapidez y eficiencia en la entrega de servicios, ofreciendo palets duraderos, adhesivos confiables y cajas de alta resistencia. El objetivo con nuestros clientes es contribuir al éxito de sus operaciones.",
  },
];
---

{
  CARDS.map((card) => (
    <div class="flex items-start gap-4 bg-[#116D6E] shadow-md rounded-md p-2 hover:scale-105 transition-transform duration-300 ease-in-out">
      <span class="shrink-0 rounded-lg bg-[#183D3D] p-4">
        <card.icon />
      </span>

      <div>
        <h2 class="text-lg font-bold">{card.name}</h2>

        <p class="mt-1 text-sm text-gray-300">{card.description}</p>
      </div>
    </div>
  ))
}
