---
// Este componente maneja el comportamiento del menú de hamburguesa para móviles
---

<div class="sm:hidden">
  <button id="menu-button" class="text-white focus:outline-none">
    <svg
      class="w-8 h-8"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <div id="mobile-menu" class="hidden bg-[#43766C] font-sans text-center">
    <div class="px-4 py-2 space-y-2">
      <a href="/" class="block text-white hover:text-gray-300">Inicio</a>
      <a href="/quienes-somos" class="block text-white hover:text-gray-300"
        >Quienes Somos</a
      >
      <a href="/productos" class="block text-white hover:text-gray-300"
        >Productos</a
      >
      <a href="/norma" class="block text-white hover:text-gray-300"
        >Norma NIMF15</a
      >
      <a href="/contacto" class="block text-white hover:text-gray-300"
        >Contacto</a
      >
    </div>
  </div>

  <!-- Script de manejo de menú -->
  <script>
    const menuButton = document.getElementById("menu-button");
    const mobileMenu = document.getElementById("mobile-menu");

    if (menuButton && mobileMenu) {
      menuButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
      });
    }
  </script>
</div>
