<header
  class="bg-[#43766C] flex justify-center items-center w-full mx-auto fixed top-0 left-0 right-0 z-50 margin-auto mb-4 font-sans"
>
  <img src="/img/coya.webp" alt="Logo" class="size-16 mr-10" />
  <nav class="hidden sm:flex flex-row gap-x-10">
    <a
      class="rounded-md p-2 text-white hover:bg-[#578c8c] hover:text-white"
      href="/">INICIO</a
    >
    <a
      class="rounded-md p-2 text-white hover:bg-[#578c8c] hover:text-white"
      href="/quienes-somos">QUIENES SOMOS</a
    >
    <a
      class="rounded-md p-2 text-white hover:bg-[#578c8c] hover:text-white"
      href="/galeria">PRODUCTOS</a
    >
    <a
      class="rounded-md p-2 text-white hover:bg-[#578c8c] hover:text-white"
      href="/contacto">NORMA NIMF15</a
    >
  </nav>
</header>

<!-- <header
  class="bg-[#3A4D39] flex justify-between items-center w-full mx-auto fixed top-0 left-0 right-0 z-50 font-sans"
>
  <div class="flex-grow flex justify-center mt-4">
    <a href="#" class="flex items-center space-x-9">
      <img src="img/coya.webp" class="size-12" alt="Flowbite Logo" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
      ></span>
    </a>
    <nav class="hidden sm:flex flex-row gap-x-8 text-lg">
      <a
        class="rounded-md p-2 text-white hover:bg-[#739072] hover:text-white"
        href="#top">Inicio</a
      >
      <a
        class="rounded-md p-2 text-white hover:bg-[#739072] hover:text-white"
        href="#sobre-coya">Sobre Coya</a
      >
      <a
        class="rounded-md p-2 text-white hover:bg-[#739072] hover:text-white"
        href="#galeria">Galería</a
      >
      <a
        class="rounded-md p-2 text-white hover:bg-[#739072] hover:text-white"
        href="#contacto">Contacto</a
      >
      <a
        class="rounded-md p-2 text-white hover:bg-[#739072] hover:text-white"
        href="#preguntas">Preguntas</a
      >
    </nav>
  </div>
</header> -->
