<header class="sticky top-0 z-50 bg-[#43766C] font-sans">
  <nav class="container mx-auto flex items-center justify-between py-4 px-8">
    <!-- Logo -->
    <a href="/" class="flex items-center">
      <img src="/img/logo-oficial2-blanco.svg" alt="Logo" class="h-12 mr-2" />
    </a>

    <!-- Menú de Navegación -->
    <div class="hidden sm:flex space-x-6">
      <a
        class="py-1 text-white font-semibold hover:text-gray-300 transition-colors duration-300"
        href="/">Inicio</a
      >
      <a
        class="py-1 text-white font-semibold hover:text-gray-300 transition-colors duration-300"
        href="/quienes-somos">Quienes Somos</a
      >
      <a
        class="py-1 text-white font-semibold hover:text-gray-300 transition-colors duration-300"
        href="/productos">Productos</a
      >
      <a
        class="py-1 text-white font-semibold hover:text-gray-300 transition-colors duration-300"
        href="/norma">Normativa NIMF15</a
      >
      <a
        class="py-1 text-white font-semibold hover:text-gray-300 transition-colors duration-300"
        href="/contacto">Contacto</a
      >
    </div>

    <!-- Ícono de menú para móviles -->
    <div class="sm:hidden">
      <button id="menu-button" class="text-white focus:outline-none">
        <!-- Icono de menú (hamburguesa) -->
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </nav>

  <!-- Menú desplegable para dispositivos móviles -->
  <div id="mobile-menu" class="hidden sm:hidden bg-[#43766C] text-center">
    <a
      class="block px-4 py-2 text-white hover:text-gray-300 transition-colors duration-300"
      href="/">Inicio</a
    >
    <a
      class="block px-4 py-2 text-white hover:text-gray-300 transition-colors duration-300"
      href="/quienes-somos">Quienes Somos</a
    >
    <a
      class="block px-4 py-2 text-white hover:text-gray-300 transition-colors duration-300"
      href="/productos">Productos</a
    >
    <a
      class="block px-4 py-2 text-white hover:text-gray-300 transition-colors duration-300"
      href="/norma">Normativa NIMF15</a
    >
    <a
      class="block px-4 py-2 text-white hover:text-gray-300 transition-colors duration-300"
      href="/contacto">Contacto</a
    >
  </div>
</header>

<!-- Script para manejar el menú móvil -->
<script>
  const menuButton = document.getElementById("menu-button");
  const mobileMenu = document.getElementById("mobile-menu");

  if (menuButton && mobileMenu) {
    menuButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  }
</script>
