---
const PRODUCTS = [
  {
    name: "Pallet Tipo Estandar",
    image: "/img/wallpaper.jpg",
    description: "Pallet 1000 x 1200 cm.",
  },
  {
    name: "Pallet Tipo Euro",
    image: "/img/wallpaper.jpg",
    description: "Pallet 800 x 1200 cm.",
  },
  {
    name: "Pallet Tipo Yugo",
    image: "/img/wallpaper.jpg",
    description: "Pallet 1000 x 1200 cm.",
  },
  {
    name: "Bolsa Xtend 2.5 kg",
    image: "/img/xtend_2_5kg.jpg",
    description: "Bolsa de 2.5 kg para exportación de frutas y verduras.",
  },
  {
    name: "Bolsa Xtend 5 kg",
    image: "/img/xtend_5kg.jpg",
    description: "Bolsa de 5 kg para exportación de frutas y verduras.",
  },
];
---

{
  PRODUCTS.map((product) => (
    <div>
      <h1 class="text-xl md:text-2xl font-bold pb-2 md:pb-4">{product.name}</h1>
      <img class="rounded-md shadow-xl" src={product.image} alt="" />
      <p class="text-sm md:text-base mt-2 md:mt-4 mb-2 md:mb-4">
        {product.description}
      </p>
      <a
        href="#"
        class="inline-block rounded bg-[#0F3D3E] 0F3D3E px-4 py-3 text-sm font-medium text-white transition hover:bg-[#181D31]"
      >
        Cotiza aquí
      </a>
    </div>
  ))
}
