---
import type { Product } from "../types/product.ts";

// Filtrar productos por categoría
const filteredProducts: Product[] = Astro.props.products;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-4">
  {
    filteredProducts.map((product: Product) => (
      <div class="bg-teal-700 p-4 shadow-md rounded-lg ">
        <h1 class="text-xl md:text-xl font-bold pb-2 md:pb-4">
          {product.name}
        </h1>
        <img
          class="rounded-none shadow-xl "
          src={product.image}
          alt={product.name}
        />
        <p class="text-sm md:text-base mt-2 md:mt-4 mb-2 md:mb-4">
          {product.description}
        </p>
        <a
          href="/contacto"
          class="inline-block rounded bg-[#0F3D3E] px-4 py-3 text-sm font-medium text-white transition hover:bg-teal-900"
        >
          Cotiza aquí
        </a>
      </div>
    ))
  }
</div>
