---
const { class: className, id } = Astro.props;
---

<!-- pb-24 (esto lo saque del section al lado de lg:w-[740px] y creo que era para el error de que el nav me quedaba pegado a la siguiente seccion)-->
<section id={id} class={`${className} w-full mx-auto lg:w-[1480px]`}>
  <slot />
</section>
